<body>
    <h2>Ingrese dos números:</h2>

    <div class="input-container">
        <input type="number" (input)="onCifra1($event)" placeholder="Cifra 1">
        <br>
        <br>
        <input type="number" (input)="onCifra2($event)" placeholder="Cifra 2">
    </div>

    <div class="button-container">
        <button (click)="sumar()">Sumar</button>
        <button (click)="restar()">Restar</button>
        <button (click)="multiplicar()">Multiplicar</button>
        <button (click)="dividir()">Dividir</button>
        <button (click)="limpiar()">Limpiar</button>
    </div>

    <h3> El resultado es: {{resultado}} </h3>
</body>
