<body>
    
    <h2>Ingrese dos números:</h2>

    <input type="number" (input)="onCifra1($event)" placeholder="Cifra 1">
    <br>
    <br>
    <input type="number" (input)="onCifra2($event)" placeholder="Cifra 2">
    <br>
    <br>
    <button (click)="sumar()">Sumar</button>
    <br>
    <br>
    <button (click)="restar()">Restar</button>
    <br>
    <br>
    <button (click)="multiplicar()">Multiplicar</button>
    <br>
    <br>
    <button (click)="dividir()">Dividir</button>
    <br>
    <br>
    <button (click)="limpiar()">Limpiar</button>
    

    <h3> El resultado es: {{resultado}} </h3>

</body>
