<div>
    <ul>
        @for(msg of photos; track msg.id){
            @if (msg.id < 6) {
                <li (click)="mostrarInfo(msg)"><strong>{{msg.title}}</strong></li>  
                <br>
                <div class="additional-info" id="info-{{msg.id}}" style="display: none;">
                    <p><strong>album id:</strong> {{msg.albumId}}</p>
                    <p><strong>id:</strong> {{msg.id}}</p>
                    <p><strong>url:</strong> {{msg.url}}</p>
                    <p><strong>thumbnailUrl:</strong> {{msg.thumbnailUrl}}</p>
                    <br>
                </div>  
            }
        }
    </ul>
</div>
