div{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 5%;
}

button {
    color: rgb(255, 255, 255);
    background-color: rgb(244, 138, 0);
    margin-bottom: 10px; 
    max-width: 100px;
}

input{
    padding: left;
}

h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}