<div><br>
    <div class="header">
        <h3 class="screen">{{screen}}</h3>
        <button (click)="delete($event)" style="width: 70px;">⌫</button>
    </div>

    
    <div class="keypad">
        @for (key of keys; track key){
            <button (click)="writeNumber(key)">{{key}}</button>
        }
        <button (click)="writeNumber(operacion)">{{operacion}}</button>
        <button (click)="operar($event)">=</button>
    </div>    

    <h3> El resultado es: {{resultado}} </h3>    
</div>